[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-MicroServices-SR/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-MicroServices-SR/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-MicroServices-SR/orders-microservice.git
